pandas
numpy
librosa
soundfile
datasets
huggingface_hub
torch
torchaudio
pydub
scipy
tqdm
gTTS
edge-tts
scikit-learn==1.3.2
xgboost
joblib
fastapi
uvicorn
python-multipart
transformers
gradio
speechbrain
python-dotenv
pydantic
httpx
matplotlib
praat-parselmouth
optuna
onnxruntime
